.a:link {text-decoration: none;
              color: #000000;}
.a:visited {text-decoration: none;
                 color: #000000;}
.a:hover {text-decoration: none;
               color: #ff3300;}
.a:active {text-decoration: none;
                color: #000000;}